/* 
    Document   : account
    Created on : 16.03.2012, 16:34:48
    Author     : J. Nathanael Philipp
    Description:
        Purpose of the stylesheet follows.
*/

section.account { display: table;}
section.account aside { display: table-cell;
	padding-right: 10em;}
section.account article { display: table-cell;}
section.account ul { list-style: none;}

section.account fieldset input[type=password],
section.account fieldset input[type=text] { border: 1px solid rgba(106, 105, 106, 0.6);
	font-family: monospace;
	width: 15em;}

section.account fieldset input[type=submit] { font-family: monospace;
	font-size: 11pt;
	text-align: center;
	border: 1px solid #666;
	background: #efefef;
	color: #777;}

section.account fieldset input[type=submit]:hover { background: #F7F7F7;
	color: #333;
	font-weight: bold;}