/*
 *    This file is part of LGDEditTool (LGDET).
 *
 *    LGDET is free software: you can redistribute it and/or modify
 *    it under the terms of the GNU General Public License as published by
 *    the Free Software Foundation, either version 3 of the License, or
 *    any later version.
 *
 *    LGDET is distributed in the hope that it will be useful,
 *    but WITHOUT ANY WARRANTY; without even the implied warranty of
 *    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *    GNU General Public License for more details.
 *
 *    You should have received a copy of the GNU General Public License
 *    along with LGDET.  If not, see <http://www.gnu.org/licenses/>.
 */

/* 
    Document   : jquery.autocomplete
    Created on : 17.02.2012, 20:38:53
    Author     : J. Nathanael Philipp
    Description:
        Purpose of the stylesheet follows.
*/

body { background-color: white;}
h1 { font-family: cursive, monospace;
	text-align: center;
	font-size: 200%;
	font-weight: bold;
	color: #6c7b8b;}

a { font-family: monospace;
	font-size: 10pt;
	font-weight: normal;
	color: blue;
	text-decoration: none;}

a:hover { color: blue;
	font-weight: bold;}

table.table { border-collapse: collapse;
	width: 100%;}

table.table th,
table.table td { padding: 5px;
	border: 1px solid #000;}

div { font-family: monospace;
	font-size: 10pt;}

small { font-family: monospace;}

article.message { display: block;
	z-index: 1;
	position: fixed;
	top: 0.5em;
	left: 34%;
	/*text-align: center;
	margin: 0 auto;*/
	width: 20em;
	padding: 8px;
	border: 1px solid rgba(93, 87, 98, 0.6);
	background: rgba(150, 150, 150, 0.7);
	-webkit-box-shadow: 0px 0px 5px 1px rgba(106, 105, 106, 0.5);
	-moz-box-shadow: 0px 0px 5px 1px rgba(106, 105, 106, 0.5);
	box-shadow: 0px 0px 5px 1px rgba(106, 105, 106, 0.5); 
	-o-border-radius: 8px;
	-icab-border-radius: 8px;
	-khtml-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;}

article.message p { text-align: center;}