/*
 *    This file is part of LGDEditTool (LGDET).
 *
 *    LGDET is free software: you can redistribute it and/or modify
 *    it under the terms of the GNU General Public License as published by
 *    the Free Software Foundation, either version 3 of the License, or
 *    any later version.
 *
 *    LGDET is distributed in the hope that it will be useful,
 *    but WITHOUT ANY WARRANTY; without even the implied warranty of
 *    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *    GNU General Public License for more details.
 *
 *    You should have received a copy of the GNU General Public License
 *    along with LGDET.  If not, see <http://www.gnu.org/licenses/>.
 */
 
 
/* 
    Document   : mapping
    Created on : 10.03.2012, 11:02:42
    Author     : J. Nathanael Philipp
    Description:
        Purpose of the stylesheet follows.
*/

tr.mapping input[type=text] { border: 1px solid rgba(106, 105, 106, 0.6);
	font-family: monospace;}

tr.mapping textarea { resize: none;
	border: 1px solid rgba(106, 105, 106, 0.6);
	font-family: monospace;}